<div class="container">
  <h1>International Space Station</h1>
  <hr>

  <div class="iss-location" *ngIf="dataReady; else loading">
    <div class="iss-location-info">
      <p>ISS is now located at:</p>
      <p>Longitude: <span>{{location.longitude}}</span>; Latitude: <span>{{location.latitude}}</span></p>
    </div>
    <div class="iss-location-time">
      <p>Current UTC time: <span>{{ISSTime | date:"dd/MM/yyyy hh:mm:ss a"}}</span></p>
    </div>
    <div class="iss-location-map">
      <div #mapContainer id="map"></div>
    </div>
    <div class="iss-location-astronauts">
      <div class="astronaut" *ngFor="let astr of astronauts.people">
        <p>{{astr.name}}</p>
      </div>
      <div class="astronaut-total">
        <p>Total number of ISS astronauts: <span>{{astronauts.number}}</span></p>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>
  </ng-template>
</div>
